/*
**/.DS_Store
**.log

# The Repo
!.gitignore
!.goreleaser.yaml
!.tool-versions
!Justfile
!project.sublime-project
!README.md
!setup.sh

# Github
!.github/

# The game
!go.mod
!go.sum
!main.go
!components/
!systems/
!game/
!entities/
!core/


